.idea/
.DS_Store
.env/
venv/
.history
.vscode
__pycache__
*/**/__pycache__
*.pyc
*.swp
media/*
docker/environments
collabri_pg_data/
pg_dumps/
setuptools-33.1.1.zip
socket_service/node_modules/
app_rabbit_data/
/setuptools-33.1.1.zip
celerybeat*
celerybeat-schedule